@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');
:root {
    --main-font: 'Inter', sans-serif;
    --main-color-1: #151824;
    --main-color-2: #fff;
    --main-color-3: #222738;
    --main-color-4: #3A57E8;
    --main-color-5: #8A92A6;
    --main-color-6: #30384F;
    --main-color-7: #08B1BA;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--main-font);
}


/* ----------------------------------------------------------- sidebar  ----------------------------------------------------------- */

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 260px;
    background: var(--main-color-3);
    box-shadow: 8px 0px 32px rgba(0, 0, 6, 0.15);
    z-index: 100;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}

.sidebar.close {
    width: 78px;
}

.logo-details {
    height: 60px;
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.logo_name {
    font-weight: 500;
    font-size: 33px;
    line-height: 43px;
    color: var(--main-color-2);
    margin-left: 8px;
    transition-delay: 0.1s;
    transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -ms-transition: 0.3s ease;
    -o-transition: 0.3s ease;
}

.sidebar.close .logo_name {
    transition-delay: 0s;
    opacity: 0;
    pointer-events: none;
}

.separator {
    width: auto;
    height: 1px;
    background: var(--main-color-6);
}

.nav-links {
    height: 100%;
    overflow: auto;
    margin: 16px auto 0;
    width: 90%;
}

.tablinks {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    height: 44px;
    padding-left: 40px;
    color: var(--main-color-5);
    outline: none;
    background: transparent;
    border: none;
    cursor: pointer;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

.tablinks::before {
    content: "";
    width: 10px;
    height: 10px;
    background: var(--main-color-5);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin-right: 25px;
    display: inline-block;
}

.tablinks:hover,
.active-tablinks {
    background: var(--main-color-4) !important;
    box-shadow: 0px 10px 30px rgba(17, 38, 146, 0.05);
    border-radius: 4px;
    color: var(--main-color-2);
}

.tablinks:hover::before,
.tablinks.active-tablinks::before {
    background: var(--main-color-2);
}

.sidebar.close .nav-links {
    overflow: visible;
}

.categories-item {
    margin-bottom: 8px;
    position: relative;
    list-style: none;
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    color: var(--main-color-5);
}

.iocn-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sidebar.close .iocn-link {
    display: block;
}

.arrow {
    cursor: pointer;
    padding-right: 20px;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

.showMenu .arrow {
    padding-left: 20px;
    transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
}

.sidebar.close .arrow {
    display: none;
}

.dropdown-btn {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.categories-item a {
    color: var(--main-color-5);
    display: flex;
    align-items: center;
    padding: 8px 24px;
    height: 44px;
}

.dropdown-active {
    height: 44px;
    background: var(--main-color-4);
    box-shadow: 0px 10px 30px rgba(17, 38, 146, 0.05);
    border-radius: 4px;
}

.dropdown-active .link_name {
    color: var(--main-color-2);
}

.link_name {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: var(--main-color-5);
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 8px 24px;
    height: 44px;
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
}

.sidebar.close .link_name {
    opacity: 0;
    pointer-events: none;
}

.sub-menu {
    margin: 8px 0 0 40px;
    display: none;
    list-style: none;
}

.showMenu .sub-menu {
    display: block;
}

.sidebar.close .sub-menu {
    position: absolute;
    left: 100%;
    top: -10px;
    margin-top: 0;
    padding: 10px 20px;
    opacity: 0;
    display: block;
    pointer-events: none;
    border-radius: 0 6px 6px 0;
    -webkit-border-radius: 0 6px 6px 0;
    -moz-border-radius: 0 6px 6px 0;
    -ms-border-radius: 0 6px 6px 0;
    -o-border-radius: 0 6px 6px 0;
    transition: 0s;
    -webkit-transition: 0s;
    -moz-transition: 0s;
    -ms-transition: 0s;
    -o-transition: 0s;
}

.sub-menu li {
    margin-bottom: 8px;
}


/*------------------------------------------------- home-section ------------------------------------------------ */

.home-section {
    position: relative;
    background: var(--main-color-1);
    left: 260px;
    min-height: 100vh;
    width: calc(100% - 260px);
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}

.sidebar.close~.home-section {
    left: 78px;
    width: calc(100% - 78px);
}

.home-content {
    height: 61px;
    display: flex;
    align-items: center;
    background: var(--main-color-3);
    position: sticky;
    top: 0;
    z-index: 102;
    border-bottom: 1px solid var(--main-color-6);
}

.close-menu {
    margin: 0 -20px;
    z-index: 101;
    cursor: pointer;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}

.open-menu {
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}


/* ------------------------------------------ search  ------------------------------------------*/

.search {
    width: 50%;
    position: relative;
    display: flex;
    border: 1px solid var(--main-color-6);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.search:focus-within {
    border: 1px solid var(--main-color-7);
}

.searchTerm {
    width: 100%;
    border: none;
    padding: 5px;
    height: 36px;
    outline: none;
    background: transparent;
    color: var(--main-color-5);
}

.searchTerm:focus {
    color: var(--main-color-2);
}

.searchTerm::placeholder {
    color: var(--main-color-5);
}

.searchButton {
    width: 40px;
    height: 36px;
    border: none;
    background: transparent;
    text-align: center;
    cursor: pointer;
}

.wrap {
    width: 47%;
    transform: translate(100%, 0%);
    -webkit-transform: translate(100%, 0%);
    -moz-transform: translate(100%, 0%);
    -ms-transform: translate(100%, 0%);
    -o-transform: translate(100%, 0%);
    display: flex;
    align-items: center;
    justify-content: space-between;
}


/* --------------------------------------------------------- user --------------------------------------------------------- */

.nav-info {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
}

.nav-profile {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 100px;
}

.nav-profile-name {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: var(--main-color-2);
    margin-left: 10px;
}


/* --------------------------------------------------------- main --------------------------------------------------------- */

.main {
    height: 200px;
    background-size: cover;
    background: radial-gradient(36.28% 150.93% at 50% 50%, rgba(59, 138, 255, 0.3) 0%, rgba(0, 72, 179, 0.06) 100%), url(img/bg.jpg);
    border-radius: 0px 0px 16px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-text {
    padding: 0 40px 20px;
}

.main-title {
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    color: var(--main-color-2);
}

.main-desk {
    font-weight: 500;
    font-size: 23px;
    line-height: 30px;
    color: var(--main-color-2);
}

.setting {
    width: 44px;
    height: 44px;
    background: #E9671A;
    border-radius: 4px 0px 0px 4px;
    outline: none;
    border: none;
    cursor: pointer;
}

.setting:hover img {
    -webkit-animation: spin 4s linear infinite;
    -moz-animation: spin 4s linear infinite;
    animation: spin 4s linear infinite;
}

@-moz-keyframes spin {
    100% {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    100% {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
    }
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
    }
}


/*  -----------------------------------------------content----------------------------------------------- */

.content {
    width: 95%;
    margin: 70px auto 0;
    background: var(--main-color-3);
    border-radius: 8px;
    padding: 24px;
    min-height: calc(100vh - 400px);
}

.tab-name {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
}

.content-title {
    font-weight: 700;
    font-size: 33px;
    line-height: 43px;
    color: var(--main-color-2);
    width: 156px;
}

.content-date {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: var(--main-color-2);
}

.download_btn {
    height: 44px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: var(--main-color-2);
    background: transparent;
    border: 1px solid var(--main-color-2);
    cursor: pointer;
    outline: none;
    padding: 10px;
}

.download_btn img {
    margin-left: 15px;
}


/* ----------------------------------------------------- table ----------------------------------------------------- */

table {
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    white-space: nowrap;
}

th,
td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid var(--main-color-5);
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: var(--main-color-2);
    text-align: center;
}

th {
    text-transform: uppercase;
}

tbody tr:hover {
    background-color: var(--main-color-7);
}

.sort_tab {
    display: flex;
    justify-content: space-between;
    border: 1px solid var(--main-color-5);
    padding: 5px;
    border-radius: 8px;
    align-items: center;
    height: 60px;
    width: auto;
}

.sort_tablinks {
    background: none;
    outline: none;
    border: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: var(--main-color-2);
    cursor: pointer;
    padding: 8px 20px;
    display: flex;
    align-items: center;
}

.sort_active {
    background: var(--main-color-7);
    color: var(--main-color-1);
    border-radius: 6px;
    height: 50px;
}

input[type="date"] {
    outline: none;
    border: none;
    text-align: center;
    padding: 2px;
    border-radius: 4px;
    color: var(--main-color-5);
    margin-right: 8px;
}

.sort_tablinks_search {
    background: url(img/Dropdown.svg) no-repeat center center #E9671A;
    border: none;
    outline: none;
    border-radius: 3px;
    height: 35px;
    width: 35px;
    cursor: pointer;
    transform: rotate(270deg);
}

.sep {
    height: 40px;
    width: 1px;
    background-color: var(--main-color-5);
    margin: 0 5px;
}


/* ---------------------------------------------------------- media ---------------------------------------------------------- */

@media (max-width: 767px) {
    .home-section {
        width: 100%;
    }
    .table {
        display: block;
        width: 100%;
    }
    .table-wrapper:before {
        content: "Scroll horizontally >";
        display: block;
        text-align: right;
        font-size: 11px;
        color: white;
        padding: 0 0 10px;
    }
    thead,
    tbody,
    thead th {
        display: block;
    }
    th:last-child {
        border-bottom: none;
    }
    thead {
        float: left;
    }
    tbody {
        width: auto;
        position: relative;
        overflow-x: auto;
    }
    td,
    th {
        padding: 20px .625em .625em .625em;
        height: 60px;
        vertical-align: middle;
        box-sizing: border-box;
        overflow-x: hidden;
        overflow-y: auto;
        width: 120px;
        font-size: 13px;
        text-overflow: ellipsis;
    }
    thead th {
        text-align: left;
        border-bottom: 1px solid #f7f7f9;
    }
    tbody tr {
        display: table-cell;
    }
    tbody td {
        display: block;
        text-align: center;
    }
}


/* -------------------------------------------- Chart -------------------------------------------- */

.charts {
    display: flex;
    flex-direction: column;
}

.charts-wrap {
    display: flex;
}

#chartFirst,
#chartSecond,
#chartThird {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

.chart-first,
.chart-second,
.chart-third {
    background: var(--main-color-3);
    box-shadow: 0px 10px 30px rgba(0, 0, 6, 0.15);
    padding: 24px;
    height: 350px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.chart-first {
    width: 60%;
    margin: 20px 10px 20px 20px;
}

.chart-second {
    width: 40%;
    margin: 20px 20px 20px 10px;
}

.chart-third {
    width: 100%;
    margin: 0px 20px 20px;
}


/* -------------------------------------------- footer -------------------------------------------- */

.footer {
    padding: 16px 24px;
    height: 50px;
    background: var(--main-color-3);
    margin-top: 20px;
}

.footer-info {
    color: var(--main-color-5);
    font-family: var(--main-font);
    font-weight: 400;
    line-height: 19px;
    font-size: 12px;
    text-align: center;
}


/* -------------------------------------------- LOGIN PAGE-------------------------------------------- */

.login-form {
    height: 100vh;
    background: var(--main-color-1);
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.login-logo-wrap img {
    margin: 0 20px 50px;
}

.login-form_wrap {
    width: 800px;
    height: 600px;
    background: var(--main-color-2);
    border-radius: 24px;
}

.login-form-img {
    float: right;
    width: 50%;
    height: 100%;
    border-radius: 0 24px 24px 0;
    background: url(img/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
}

.login-form-info {
    float: left;
    width: 50%;
}

.form-signin {
    margin: 50px auto;
}

.btn-login {
    padding: 15px;
    border: none;
    outline: none;
    text-decoration: none;
    color: var(--main-color-2);
    font-family: var(--main-font);
    margin: 50px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    cursor: pointer;
    box-shadow: 0px 8px 24px -2px rgba(11, 47, 138, 0.6);
}

.login-form-title {
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    color: var(--main-color-4);
    font-family: var(--main-font);
    text-align: center;
    margin: 100px auto 50px;
}

.login {
    padding: 0 50px;
}

.login_field {
    padding: 20px 0px;
    position: relative;
}

.login_icon {
    position: absolute;
    top: 30px;
    height: 15px;
}

.login_input {
    border: none;
    border-bottom: 2px solid var(--main-color-5);
    font-family: var(--main-font);
    background: none;
    padding: 10px;
    padding-left: 24px;
    font-weight: 700;
    width: 80%;
    transition: .2s;
    -webkit-transition: .2s;
    -moz-transition: .2s;
    -ms-transition: .2s;
    -o-transition: .2s;
}

.login_input:active,
.login_input:focus,
.login_input:hover {
    outline: none;
    border-bottom-color: var(--main-color-4);
}


/* ----LOGIN_tab---- */

.center {
    min-height: 460px;
    z-index: 9999;
}

input[type="submit"] {
    width: 100%;
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    color: var(--main-color-2);
    background: var(--main-color-3);
    border-radius: 20px;
    border: 2px solid var(--main-color-3);
    outline: none;
    text-decoration: none;
    padding: 12px 93px;
    margin-top: 20px;
    cursor: pointer;
    transition: 0.6s;
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -ms-transition: 0.6s;
    -o-transition: 0.6s;
}

input[type="submit"]:hover {
    background: transparent;
    color: var(--main-color-3);
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

.tab {
    width: 400px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tablinks {
    margin: 10px;
}

.tab button {
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    background: #020f2e37;
    color: var(--main-color-1);
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    width: 50%;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.tab button.active {
    background: var(--main-color-6);
    z-index: 1;
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: var(--main-color-2);
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}


/* -------------------------------------------- USER PAGE-------------------------------------------- */

.user-content-title {
    width: 230px;
}

.app-user {
    display: flex;
    align-items: center;
    justify-content: start;
    margin-left: 38%;
}

.app-user img {
    margin-right: 10px;
}

.can-toggle {
    position: relative;
}

.can-toggle *,
.can-toggle *:before,
.can-toggle *:after {
    box-sizing: border-box;
}

.can-toggle input[type="checkbox"] {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
}

.can-toggle input[type="checkbox"]:checked~label .can-toggle__switch:before {
    content: attr(data-unchecked);
    left: 0;
}

.can-toggle input[type="checkbox"]:checked~label .can-toggle__switch:after {
    content: attr(data-checked);
}

.can-toggle label {
    user-select: none;
    position: relative;
    display: flex;
    justify-content: center;
}

.can-toggle label .can-toggle__switch {
    position: relative;
}

.can-toggle label .can-toggle__switch:before {
    content: attr(data-checked);
    position: absolute;
    top: 0;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
}

.can-toggle label .can-toggle__switch:after {
    content: attr(data-unchecked);
    position: absolute;
    z-index: 5;
    text-transform: uppercase;
    text-align: center;
    background: var(--main-color-2);
    cursor: pointer;
}

.can-toggle input[type="checkbox"]:checked~label .can-toggle__switch:after {
    transform: translate3d(65px, 0, 0);
    -webkit-transform: translate3d(65px, 0, 0);
    -moz-transform: translate3d(65px, 0, 0);
    -ms-transform: translate3d(65px, 0, 0);
    -o-transform: translate3d(65px, 0, 0);
}

.can-toggle label .can-toggle__switch {
    height: 36px;
    flex: 0 0 134px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.can-toggle label .can-toggle__switch:before {
    left: 67px;
    font-size: 12px;
    line-height: 36px;
    width: 67px;
    padding: 0 12px;
}

.can-toggle label .can-toggle__switch:after {
    top: 2px;
    left: 2px;
    width: 65px;
    line-height: 32px;
    font-size: 12px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.can-toggle.demo-switch input[type="checkbox"]:checked~label .can-toggle__switch {
    background-color: #1AA053;
}

.can-toggle.demo-switch input[type="checkbox"]:checked~label .can-toggle__switch:after {
    color: #1AA053;
}

.can-toggle.demo-switch label .can-toggle__switch {
    transition: background-color 0.3s ease-in-out;
    -webkit-transition: background-color 0.3s ease-in-out;
    -moz-transition: background-color 0.3s ease-in-out;
    -ms-transition: background-color 0.3s ease-in-out;
    -o-transition: background-color 0.3s ease-in-out;
    background: #DB303F;
}

.can-toggle.demo-switch label .can-toggle__switch:before {
    color: rgba(255, 255, 255, 0.6);
}

.can-toggle.demo-switch label .can-toggle__switch:after {
    -webkit-transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
    -webkit-transition: transform 0.3s ease-in-out;
    -moz-transition: transform 0.3s ease-in-out;
    -ms-transition: transform 0.3s ease-in-out;
    -o-transition: transform 0.3s ease-in-out;
    color: #DB303F;
}